
body{
  background-color:beige;
  height:1000px;
  width:1000px;
}

h3{
  color:darkBlue;
}

li{
  color:maroon;
}
.boxed {
  border: 3px solid #752141 ;
}
.boxed1 {
  border:5px solid #C27464 ;
}
 
.boxed2 {
  border:4px solid #470C00;
}
 .boxed3 {
   border:3px dotted #2D29E7;
 }
  


